.logo__button {
    text-decoration: none;
    background: transparent;
    border: none;
    cursor: pointer;
}

.logo__button img {
    max-width: 1.75rem;
}

.button {
    background: transparent;
    border: none;
    display: inline-block;
    padding: .5rem 1rem;
    transition: all .3s var(--smooth-timing-function);
}

.button:hover {
    transform: translateY(-3px);
}
.button__simple {
    background-color: var(--dark-purple);
    color: var(--white);
    border-radius: .4rem;
    text-decoration: none;
}